<div class="col-lg-4">
  <div class="card">
    <img src="<%= article.image%>" alt="image article" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><%= article.title %></h5>
      <p><%= article.chapo %></p>
     <p class="contenu";class="col-lg-2"><%=article.content%></p>
      <%= link_to "Voir l'article", article,class:"btn btn-outline-success stretched-link" %>

    </div>
  </div>
</div>
