<div id="<%= dom_id article %>">

<div class="container">

<div class="col3">
<div class="card" style="width: 18rem;">
<
  <div class="card-body">
    <h5 class="card-title">
    <p>
      <strong>Title:</strong>
      <%= article.title %>
    </p></h5>
    <p class="card-text">
      <p> <strong>Chapo:</strong>
      <%= article.chapo %></p>

      <p>
      <strong>Content:</strong>
      <%= article.content %>
     </p>
    </p>

      <strong>Image:</strong>

      </p>
    <p>
    <p>
    <%= link_to "Voir l'article", article %>
  </p>
  </div>
</div>
</div>

</div>
</div>
</div>
