<style>
.card {
  --bs-card-border-width: 0;
}

.contenu {
  font-size : 16px;
}

</style>

<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Retour aux articles", articles_path %>

  <%= button_to  "Supprimer cet article", @article, method: :delete, class:"btn btn-danger" %>

</div>
