<style>
.card {
  --bs-card-border-width: 0;

}

.contenu {
  font-size : 16px;
}
 .card-body {
  width: 70em;
 }

.voir {
  display:none;
}

</style>

<p style="color: green"><%= notice %></p>

<%= render @article %>
<div class=container>
<div class="d-flex justify-content-center">
  <%= link_to "Modifier cet article", edit_article_path(@article),class:"btn btn-success" %> |
  <%= link_to "Retour aux articles", articles_path ,class:"btn btn-sucess"%>
  <%= button_to  "Supprimer cet article", @article, method: :delete, class:"btn btn-outline-danger" %>

</div>
</div>
